@use "~chaire-lib-frontend/lib/styles/settings";
@use "jobTables";

// Map controls dropdown menu
.tr__map-controls {
    position: relative;
}



.tr__map-controls-button,
.maplibregl-control-container button {
    background: #fff;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    height: 1.875rem;
    font-size: 2rem;
    padding: 0.2rem;
    color: rgba(0, 0, 0, 0.7);
}

.maplibregl-control-container button.active:hover,
.maplibregl-control-container button.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.tr__map-controls-dropdown {
    position: absolute;
    top: 3.2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;
    width: 20rem;

    p {
        margin: 0;
    }
}

.tr__map-controls-dropdown-group-title {
    padding: 1.2rem 0.4rem 0.2rem 0.4rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.tr__map-controls-dropdown-item {
    background: transparent;
    padding: 0.2rem 0.4rem;
    border: none;
    cursor: pointer;
    color: #333;

    &._active {
        font-weight: bold;
        background-color: rgb(184, 214, 255);
    }

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tr__map-controls-dropdown-item:last-child {
    border-bottom: none;
}

.tr__map-controls-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}